Repository teamleadercrm/ui-icons, pull requests merged in 2020-11, with the labels that each got.

#213 Add icons
  CHANGELOG.md
  icons/24x24_happy_outline.svg
  icons/24x24_heart_outline.svg
  icons/24x24_hourglass_outline.svg
  icons/24x24_overview_outline.svg
  icons/24x24_sad_outline.svg
  icons/24x24_warning_outline.svg
  package.json
Labels: new icon, ready

#214 Add visible/invisible icons
  CHANGELOG.md
  icons/14x14_invisible_outline.svg
  icons/14x14_visible_outline.svg
Labels: new icon, ready

#215 Release: 0.2.30
  CHANGELOG.md
Labels: ready

#221 Update play and pause icons
  CHANGELOG.md
  icons/24x24_pauze_filled.svg
  icons/24x24_play_filled.svg
  package.json
Labels: enhancement, ready
